.hlp{
    color: white;
    margin-top: 68px;
}
.donate{
    background-color: rgb(6, 119, 57);
    color: antiquewhite;
    height: 40px;
    width: 200px;
    margin-top: 36px;
}
.donate:hover{
    background-color: rgb(127, 15, 219);
    color: rgb(255, 124, 1);
}
.hlppp{
    color: blue;
}