.buy{
    margin-top: 40px;
    background-color: orange;
    color: aliceblue;
    border: 2px solid orange;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
.crt{
    margin-top: 40px;
    background-color: red;
    color: aliceblue;
    border: 2px solid red;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 25px;
}
.crtsd{
    margin-top: 40px;
    background-color: rgb(2, 172, 2);
    color: aliceblue;
    border: 2px solid rgb(2, 172, 2);
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
.photo{
    margin-top: 30px;
}
.text{
    color: blue;
    margin-top: 34px;
}
.rating{
    color: rgb(90, 213, 230);
    margin-top: 30px;
}
.strik{
    text-decoration: line-through;
    color: pink;
    margin-left: 15px;
}
.pric{
color: red;
margin-top: 28px;

}
.comp{
    color: rgb(30, 202, 15);
    margin-right: 230px;
    margin-top: 20px;
}
.item{
    color: rgb(166, 255, 0);
    margin-top: 28px;
}
.offer{
    color: rgb(109, 193, 245);
    margin-right: 240px;
    margin-top: 22px;
}
.des{
    color: rgb(212, 140, 5);
}
.Ss{
    color: rgb(0, 140, 255);
}